$primary: #2a2c41;
$dark: #72759b;
$secondary: #fdbf50;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
$gray: #d3d3d3;

body {
  background-color: $primary;
}

h1 {
  font-size: 35px;
  color: #000000;
}

h2 {
  font-size: 15px;
  text-align: left;
  color: black;
  @media (max-width: 414px) {
    font-size: 11px;
  }
}

h3 {
  font-size: 10px;
  text-align: left;
  color: #000000;
}
p{
  font-size: 10px;
  text-align: center;
  color: #000000;
  margin-top: 25px;
}

input {
  padding: 15px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid $gray;
  outline: none;
  margin: 10px;
  @media (max-width: 414px) {
    width: 70%;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  @media (max-width: 414px) {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 50px 0 50px;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  @media (max-width: 414px) {
    display: flex;
    justify-content: center;
  }
}

li a {
  width: 100px;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;
}

li a:hover, a.router-link-exact-active {
  background-color: #1b4965;
  color: #ffffff;
}
.search-box {
  max-width: 87%;
  margin: 0px auto;
  @media (max-width: 414px) {
   max-width: 87%;
  }
}

.card {
  max-width: 30%;
  margin: 10% auto;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px $dark;
  background-color: #ffffff;
  padding: 2rem;
  @media (max-width: 414px) {
    max-width: 100%;
  }

  .login-btn {
    width: 30%;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: $info;
    color: #ffffff;
    cursor: pointer;
    @media (max-width: 414px) {
      width: 50%;
    }
  }
  .login-btn:hover {
    background-color: #1b4965;
    color: #ffffff;
  }

  .register-btn {
    width: 30%;
    margin-top: -7px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }

  .register-btn:hover {
    width: 20%;
    padding: 10px;
    border-radius: 40px;
    color: $gray;
  }
}

.card-user {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 43%;
  background-color: $gray;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px $dark;
  transition: transform .5s;
  @media (max-width: 280px) {
    padding: 0 50px 0 10px ;
  }
  @media (max-width: 414px) {
    padding: 0 80px 0 10px ;
  }
}
.card-user:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

